* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.small-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #f46752;
  margin-bottom: 26px;
}
.container {
  width: 75%;
  margin: 0 auto;
}
@media (max-width: 950px) {
  .container {
    width: 90%;
  }
}

@import "./styles/nav";
@import "./styles/poster";
@import "./styles/info";
@import "./styles/cards";
@import "./styles/kards";
@import "./styles/get-started";
@import "./styles/contacts";
@import "./styles/footer";
